<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bantter.app" version="0.0.1" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>bantter</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
     <platform name="android">
        <preference name="KeepRunning" value="true"/>
         <preference name="Fullscreen" value="false" />
         <preference name="android-windowSoftInputMode" value="adjustNothing" />
    </platform>
</widget>
