<?xml version='1.3' encoding='utf-8'?>
<widget id="com.bantter.app" version="0.0.3" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bantter</name>
    <description>
        Social 
    </description>
    <author email="bantter.llc@gmail.com" href="http://www.bantter.com/">
        Bantter app team
    </author>
    <access origin="mailto:*" launch-external="yes" />
    <preference name="SplashScreen" value="screen1" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="1.5" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="mailto:*" />
    <preference name="target-device" value="handset" />
     <platform name="android">
        <preference name="KeepRunning" value="true"/>
         <preference name="Fullscreen" value="false" />
         <preference name="android-windowSoftInputMode" value="adjustNothing" />
         <preference name="AndroidPersistentFileLocation" value="Internal" />
    </platform>
     <platform name="ios">
        <preference name="BackupWebStorage" value="none" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="UIWebViewBounce" value="true" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="auto-hide-splash-screen" value="false" />
        <preference name="Fullscreen" value="true" />
        <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
            <false/>
        </gap:config-file>
    </platform>
</widget>
