html, body {
    height: 100%;

}

.backgroundImage{
	background-image: url(../img/vacation-selfies-770.jpg);
    background-position: 40% 40%;
	background-size:cover;
	width:100%;
	height:100%;
}
.menuTab{
	height:110%;
	width:33.333%;
}
.full{
	height: 100%;
}
.notActive{
	display:none;
}
#videoPopUp{
	width: 100%;
	height:100%;
}
#infoPopUp{
	top:50%;
	width:75%;
	left:22%;
	text-align: center;
	height:30%;
	font-size: 200%;
	border-radius: 10%;
}
.videoPopUpContent{
	background-color:rgb(179, 207, 255);
}
.modal { 
    position: fixed; 
    top: 30%; 
    width: 110%; 
    margin-left: -5%; 
}
.modal-body { 
    height: 60%; 
}
.col-xs-4{
	padding-left: 0px;
	padding-right: 0px;
}
.likesRow{
	padding-top: 5%;
	padding-bottom:5%;
	font-size: 250%;
	height:25%;
}
.disabled{
	opacity:0.3;
}
.selectedLikesRow{
	background-color:rgb(192, 218, 255);
}
.row{
	margin-left: 0px;
	margin-right:0px;
}
.textInfo{
	margin-top:0%;
	font-size: 100%;
}
#noIcon{
	width:100%;
	height:100%;
}
.icon{
	width:23%;
	height:100%;
}
#removePadding{
	padding-left: 0px;
	padding-right: 0px;
}
.btn{
	font-size: 150%;
	border-radius: 0px;
}
.container-xs-height{
	height:100%;
}
/* 

Loading page css styles

  */
#loadingPage{
	background-image: url(../img/bantterIconPink.png);
	background-size: cover;
	background-position:45% 40%;
    width: 100%;
    height: 100%;
}
#loadingPage_statusDiv{
	position: fixed;
	top: 88%;
	right: 0%;
	width: 100%;
	height: 7%;
	font-size: x-large;
	text-align: center;
	vertical-align: middle;
	color:#FFFFFF;
	opacity: 0.7;
	border-radius: 10%;
}
/* 
loginPage css styles

*/

#loginPage_bantterLogo{
	position:fixed;
	top: -1%;
	right: 7%;
	width: 85%;
	height: 20%;
}
#loginPage_slogan{
	font-family: 'Comfortaa', cursive;
	position:fixed;
	text-align: center;
	top: 17%;
	right: 0%;
	width: 100%;
	height: 10%;
	color:#00CCFF;
	font-size: 275%;
}
#loginPage_fbLogin{
	position:fixed;
	top:88%;
	width:80%;
	height:10%;
	left:10%;
	border-radius: 20px;
	font-size: 250%;
	opacity:0.9;
}

/*
	main page css
*/
#mainPage{
 width:100%;
 height:100%;
}

#mainPage_menu{
	background-color:#00CCFF;
	width:100%;
	height:10%;
	margin-right: 0px;
	margin-left:0px;
}
#mainPage_tabs{
	background-color: #00CCFF;
	height:6%;

}
.mainPage_selfies_contentPane{
	background-color: #00CCFF;
	height:46%;
	text-align: center;
	color:white;
	font-size:300%;
}
#mainPage_menu_logo{
	margin-top:2%;
	width: 77%;
	height:100%;
}
#mainPage_menu_vidIcon{
	margin-top: 15%;
	width:55%;
	height:75%;
}
#mainPage_menu_likes{
	background-color: #FF0066;
	width:102%;
}
#mainPage_menu_inbox{
	background-color:#0000FF;
	width:100%;
}
#mainPage_menu_selfies{
	background-color: #CC0099;
	width:100%;
}
#mainPage_selfies{
	height:67%;
	background-color: #00CCFF;

}

#mainPage_selfies_selfieVid{
	background-color:#00CCFF !important;
	height:115%;
	width: 100%;
	margin-left:0%;
}
#mainPage_selfies_thumbsDown{
	margin-left: 15%;
	margin-bottom:-100%;
	height:40%;
	width:60%;
	border-radius: 20%;
}
#mainPage_selfies_selfieInfo{
	height: 10%;
}
#mainPage_selfies_thumbsUp{
	margin-right:15%;
	margin-bottom:-100%;
	height:40%;
	width:60%;
	border-radius: 20%;	
}
#mainPage_people{
	height:66%;
}
#mainPage_likes_controlBut{
	margin-left:44%;
	margin-top:2%;
	height:90%;
	width:13%;
}
#mainPage_likes_controlCont{
	height:12%;
	background-color: white;
	margin-bottom: 4%;
}
.mainPage_likesDiv{
	height:90%;
	overflow-y:scroll;
}
#mainPage_people_menu{
	height:10%;
	padding-top: 8%;
	font-size:300%;
	color: rgb(13, 82, 105);
	font-family: 'Comfortaa', cursive;
}
#mainPage_likes_menuAction1{
	margin-left:-7%;
}
#mainPage_likes_menuAction2{
	margin-left:4%;
}
.mainPage_likes_profilePic{
	border-radius: 10px;
	margin-top:-15%;
	margin-bottom:-25%;
	width:100%;
	height:150%;
}
.starDiv{
	background-color: red;
}

/*   Code for css loader animation */
.spinner {
  width: 70px;
  height: 70px;

  position: relative;
  margin-left: 107px;
}
.spinner2{
width: 80px;
height: 80px;
position: relative;
margin-left: 40%;
margin-top: 144%;
}
.spinner3 {
width: 70px;
height: 70px;
position: relative;
margin-left: 123px;
margin-top: 100px;
}
.newInboxIcon{
	width:100%;
	height:100%;
}
.pane2{
	margin-top:12%;
	height:69%;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color:blue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 1.5s infinite ease-in-out;
  animation: bounce 1.5s infinite ease-in-out;
}

.double-bounce2 {
	background-color:purple;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}	

